name: CI Pipeline - Build Spring Boot

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build Spring Boot App
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Configurar JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Instalar dependências e Build
        run: mvn -B clean install

      - name: Executar Testes
        run: mvn test

      - name: Gerar JAR final
        run: mvn -B package
